
      <mat-nav-list class="sidebar-nav">
      <mat-expansion-panel [class.mat.elevation-z0]="true" class="navlist">
        <mat-expansion-panel-header>
          Contacts
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item class="item" href="/dashboard">
            Contacts Dashboard
          </a>
          <a mat-list-item class="item" href="/viewcontacts">
            <span>View Contacts</span>
          </a>
          <a mat-list-item class="item" href="/customerlist">
            <span>Lists</span>
          </a>
          <a mat-list-item class="item" routerLink="#">
            <span>Topics</span>
          </a>
          <a mat-list-item class="item" routerLink="#">
            <span>View Attribution</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      
      <mat-expansion-panel [class.mat.elevation-z0]="true" class="navlist">
        <mat-expansion-panel-header>
          Lead Generation
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item class="item" href="/leadqualification">
            <span>Lead Qualifications</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    
      <mat-expansion-panel [class.mat.elevation-z0]="true" class="navlist">
        <mat-expansion-panel-header>
          Journeys
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item class="item" href="/regions">
            <span>Regions</span>
          </a>
          <a mat-list-item class="item" href="/createroutes">
            <span>Create Route</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel [class.mat.elevation-z0]="true" class="navlist">
        <mat-expansion-panel-header>
          Marketing Planner
        </mat-expansion-panel-header>
        <mat-nav-list>
        </mat-nav-list>
      </mat-expansion-panel>
    
      <mat-expansion-panel [class.mat.elevation-z0]="true" class="navlist">
        <mat-expansion-panel-header>
          Analytics
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-nav-list>
            <a mat-list-item class="item" href="/leadqualification">
              <span>Lead Qualifications</span>
            </a>
          </mat-nav-list>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>

  