.leads{
    display: flex;
    flex-direction: row;
    align-items: center;
}

button{
    background-color: #24b3ab;
    margin-right: 35px;
    border-radius: 5px;
    border: none;
}

mat-toolbar-row{
    justify-content: space-between;
}