<div >
    <h3 color="blue">Contacts</h3>
    <h2><b>LEADS QUALIFICATIONS</b></h2>
</div>
<div color="grey">
    <div class="leads">
        <button type="button" class="btn btn-primary">LEAD SCORE CONFIGURATION</button>
        <button type="button" class="btn btn-primary">LEAD STAGE CONFIGURATION</button>
        <button type="button" class="btn btn-primary">TAGS</button>
    </div>

    <div>
        <mat-toolbar>
            <mat-toolbar-row>
                <span>LEAD STAGES  </span>
                <a href="#">Add a custom stage</a>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div>
        <mat-toolbar-row>
            Row Leads
            <a >{{lead}}</a>
        </mat-toolbar-row>
        <mat-toolbar-row>
            Prospects
            <a>{{prospect}}</a>
        </mat-toolbar-row>
        <mat-toolbar-row>
            Customer
            <a>{{customer}}</a>
        </mat-toolbar-row>
    </div>

</div>