<div class="content">
  <div class="main-content">
    <div>
      <h1><b>Hey Stephen Opati, good to have you on board</b></h1>
    </div>
      <h3>Choose the Platform</h3>
      <p>Select the platform you would like to work on.</p>
      <div class="platforms">
        <div class="keepitcool">
          <button routerLink="/keepitcool">
            <h1>KeepItCool</h1>
            <p>RAINO TECH4IMPACT</p>
          </button>
        </div>
        <div class="markiti">
          <button routerLink="/markitilanding">
            <h1>Markiti</h1>
            <p>DELIVER WHILE STILL FRESH</p>
          </button>
        </div>
      </div>
  </div>
</div>
<!-- <div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Contact Person</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Chama</th>
            <th>Challenges</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Products</th>
            <th>Average Weight</th>
            <th>Owns Freezer</th>
          </tr>
        </thead>  -->
        <!-- <tbody>
          <tr *ngFor="let customer of (appState$ | async)?.appData?.data.customers">
            <td>{{ customer.name }}</td>
            <td>{{ customer.contactPerson }}</td>
            <td>{{ customer.phoneNumber }}</td>
            <td>{{ customer.gender }}</td>
            <td>{{ customer.chama }}</td>
            <td>{{ customer.challenges }}</td>
            <td>{{ customer.category }}</td>
            <td>{{ customer.supplier }}</td>
            <td>{{ customer.products }}</td>
            <td>{{ customer.weight }}</td>
            <td>{{ customer.freezer }}</td>
            <td>{{ customer.status }}</td>
          </tr>
        </tbody>  -->
      <!-- </table> 
</div> -->