
.text{
    text-align: center;
    /* padding: 12%; */
    width: 35%;
    padding-top: 12%;
}

.mat-50{
    width: 80%;
    margin: 1%;
}

button{
    border-left: 20%;
    border-radius: 5px;
    height: 25px;
    background-color: #4a4495;
}

.content{
    display: flex;
    flex-direction: row;
}

.form{
    width: 30%;
}

/* .mapwindow{
    height: "525px";
    width: "800px";
} */
mat-dialog-content{
    display: flex;
}

@media (max-width: 800px) {
    .content {
      flex-direction: column;
    }
    .text{
        width: fit-content;
    }
    .mat-50{
        width: 150%;
        margin: 1%;
    }
    .mapwindow{
        width: 400px;
        height: 400px;
    }
    mat-dialog-content{
        flex-direction: column;
    }
  }