
<!-- <p>Create Routes works</p> -->

<!-- <div class="content">
    <div class="form">
    <mat-form-field class="mat-50">
    <mat-label>From:</mat-label>
    <input class="input" matInput
        type="text"
        [(ngModel)]="placeholder"
        #inputField >
    </mat-form-field>
    <app-place-search></app-place-search>
    <br>
    <mat-form-field class="mat-50">
        <mat-label>To:</mat-label>
        <input class="input" matInput
            type="text"
            
            #inputField >
    </mat-form-field><br>
    <mat-form-field class="mat-50">
        <mat-label>Sales Rep Incharge:</mat-label>
        <input class="input" matInput
            type="text">
    </mat-form-field>
    </div>
    <div class="mapwindow" *ngIf="apiLoaded | async">
        <google-map #myGoogleMap
        height="525px"
        width="800px"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        ></google-map>
    </div>
</div> -->


<div class="content">
    <div class="form">
    <app-place-search [labelName]="'From'"></app-place-search>
    <!-- <br> -->
    <app-place-search [labelName]="'To'"></app-place-search>
    <!-- <br> -->
    <mat-form-field class="mat-50">
        <mat-label>Sales Rep Incharge:</mat-label>
        <input class="input" matInput type="text">
    </mat-form-field>
    </div>
    <div class="mapwindow">
        
    </div>
</div>
