<div class="content">
    <div class="form">
    <app-place-search [labelName]="'From'" (placeChanged)="fromDestination = $event"></app-place-search>
    <app-place-search [labelName]="'To'" (placeChanged)="toDestination = $event"></app-place-search>
    <mat-form-field class="mat-50">
        <mat-label>Sales Rep Incharge:</mat-label>
        <input class="input" matInput type="text">
    </mat-form-field>
    </div>
    <div class="mapwindow">
        <app-map-display [from]="fromDestination" [to]="toDestination"></app-map-display>
    </div>
</div>
