/* button{
    border-radius: 5px;
    border: none;
} */
button{
    background-color: #24b3ab;
    margin-right: 35px;
    border-radius: 5px;
    border: none;
}

.top{
    display: flex;
}

.routes{
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 950px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0,1);
}

.routes thead tr{
    /* background-color: #24b3ab; */
    /* color: #ffffff; */
    text-align: left;
    font-weight: bold;
}
.list thead tr{
    background-color: #24b3ab;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.list th,
.list td{
    padding: 12px 15px;
}

.list tbody tr{
    border-bottom: 1px solid grey;
}