<div class="top">
    <div>
        <button>Name</button>
        <button>Sales Reps</button>
        <button routerLink="/customerlist">Customers</button>
    </div>
    <div>
        <button routerLink="/createroutes">Add Route</button>
    </div>
</div>
<div>
    <table class="routes">
        <thead class="thead">
            <tr>
                <th>Route</th>
                <th>Zone</th>
                <th>Created By</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>