<div class="top">
    <div>
        <button>Name</button>
        <button>Contact</button>
        <button>Routes</button>
        <button>Sales Reps</button>
        <button>Customers</button>
    </div>
    <div>
        <button class="addroute">Add Route</button>
    </div>
</div>
<div>
    <table class="routes">
        <thead class="thead">
            <tr>
                <th>Name</th>
                <th>Zone</th>
                <th>Created By</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>