.row{
    display: flex;
    justify-content: space-between;
}
button{
    width: 100px;
    border-radius: 5px;
    background-color: #24b3ab;
    margin-right: 35px;
}

.regions{
    display: flex;
}

.region{
    width: 15%;
}

.btn{
    background-color: white;
    border: none;
    height: 25px;
    border-radius: 0px;
}

/* .iframe{
    width: 90%;
    height: 95%;
} */