<div class="customer-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="(appState$ | async)?.dataState === DataState.LOADED_STATE">
          <h2>Customer List</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Contact Person</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Chama</th>
                <th>Challenges</th>
                <th>Category</th>
                <th>Supplier</th>
                <th>Products</th>
                <th>Average Weight</th>
                <th>Owns Freezer</th>
                <th>Customer Status</th>
                <!-- Add more table headers for other properties as needed -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of (appState$ | async)?.appData?.data.customers">
                <td>{{ customer.name }}</td>
                <td>{{ customer.contactPerson }}</td>
                <td>{{ customer.phoneNumber }}</td>
                <td>{{ customer.gender }}</td>
                <td>{{ customer.latitude }}</td>
                <td>{{ customer.longitude }}</td>
                <td>{{ customer.chama }}</td>
                <td>{{ customer.challenges }}</td>
                <td>{{ customer.category }}</td>
                <td>{{ customer.supplier }}</td>
                <td>{{ customer.products }}</td>
                <td>{{ customer.weight }}</td>
                <td>{{ customer.freezer }}</td>
                <td>{{ customer.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="(appState$ | async)?.dataState === DataState.LOADING_STATE">
        </div>
        <div *ngIf="(appState$ | async)?.dataState === DataState.ERROR_STATE">
        </div>
      </div>
    </div>
  </div>
</div>
  